{% extends "base.html" %}

{% block title %}settings {% endblock %}

{% block head %} 

    <script>
        function toggleForm() {
            const form = document.getElementById("flightForm");
            form.style.display = form.style.display === "block" ? "none" : "block";
        }

        function edit() {
            const form = document.getElementById("flightForm");
            form.style.display = form.style.display === "block" ? "none" : "block";
        }
    </script>

    <style>

  body {
    background: url("{{ url_for('static', filename='images/background.jpg') }}") no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 3px black;
  }

  body {
    background: url("{{ url_for('static', filename='images/background.jpg') }}") no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 3px black;
  }

  </style>

{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('home.index') }}">FlaskApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto align-items-center">
            <li class="nav-item">
                <button class="btn btn-outline-light" type="button" onclick="toggleForm()">Add Flight</button>
                <li class="nav-item"><a class="nav-link" href="/dashboardADM">dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="/auth/logout">Logout</a></li>
            </li>    
        </ul>
    </div>
  </div>
</nav>
{% endblock %}

